<?xml version="1.0"?>
<launch>

    <!-- declare arg to be passed in -->
    <arg name="half_duration_secs" default="120" />
    <arg name="use_timer" default="true" />
    <arg name="simulation_mode" default="false" />

    <node name="referee" pkg="soccerref" type="referee_node.py" output="screen">
        <param name="half_duration_secs" type="int" value="$(arg half_duration_secs)" />
        <param name="use_timer" type="bool" value="$(arg use_timer)" />
        <param name="simulation_mode" type="bool" value="$(arg simulation_mode)" />
    </node>

</launch>