<?xml version="1.0"?>
<launch>

    <include file="$(find soccerref)/launch/referee.launch">
        <arg name="half_duration_secs" value="120" />
        <arg name="use_timer" value="true" />
        <arg name="simulation_mode" value="true" />
        <arg name="competition_mode" value="false" />
    </include>

</launch>